<div class="container project_show_container">
  <div class="header-bar">
    <h2 class="header-title">The Bootstrap Blog</h2>
    <p class="lead blog-description">The official example template of creating a blog with Bootstrap.</p>
  </div>

  <div class="row">
    <div class="col-sm-offset-2 col-sm-8 blog-main">
      <div class="row project_item_card">
        <div class="row">
          <%= image_tag "https://ksr-ugc.imgix.net/projects/1510971/photo-original.jpg?v=1434483447&w=1536&h=1152&fit=crop&auto=format&q=92&s=13185e35776ca29914ad07c07d6fab10", class: "item_image" %>
        </div>
        <div class="row item_bar">
          <div class="col-xs-6 item_like">
            <i class="fa fa-heart-o"></i>999<i class="fa fa-share"></i>999
          </div>
          <div class="col-xs-6 item_date">
            2015/8/22 12:00
          </div>
        </div>
        <div class="row item_description">
          Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
          Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
          Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-offset-2 col-sm-8 blog-main">
      <div class="row project_item_card">
        <div class="row">
          <%= image_tag "https://ksr-ugc.imgix.net/projects/1510971/photo-original.jpg?v=1434483447&w=1536&h=1152&fit=crop&auto=format&q=92&s=13185e35776ca29914ad07c07d6fab10", class: "item_image" %>
        </div>
        <div class="row item_bar">
          <div class="col-xs-6 item_like">
            <i class="fa fa-heart-o"></i>999<i class="fa fa-share"></i>999
          </div>
          <div class="col-xs-6 item_date">
            2015/8/22 12:00
          </div>
        </div>
        <div class="row item_description">
          Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
          Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
          Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
        </div>
      </div>
    </div>
  </div>

</div><!-- /.row -->
</div>

<%= link_to "new item", new_project_project_item_path(@project) %>
<% content_for :custom_js do %>
<script type="text/javascript">
  $('.fa-heart-o, .fa-heart').click(function(){
    if($(this).hasClass('fa-heart')){
      $(this).addClass('fa-heart-o');
      $(this).removeClass('fa-heart');
    }
    else if($(this).hasClass('fa-heart-o')){
      $(this).addClass('fa-heart');
      $(this).removeClass('fa-heart-o');
    }
  })
</script>
<% end %>