// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.carousel-inner > .item {
  max-height: 750px;
}

.carousel-inner > .item{
  max-height: 750px;
  margin-top: -15px;
}
.carousel-inner > .item > img, .project_card img{
  width: 100%;
  height: auto;
}
.navbar{
  opacity: 0.9;
  border: 0;
}
.navbar-default .navbar-brand{
  color: #2bde73;
}
.project_card{
  overflow: hidden;
  width: 95%;
  height: 0;
  padding-bottom: 100%;
}

.header-bar {margin:-23px 0 23px 0; height:120px; line-height:76px; border-radius:9px 9px 0 0; -moz-border-radius:9px 9px 0 0; -webkit-border-radius:9px 9px 0 0; border-bottom: 1px solid rgba(0, 0, 0, 0.10);  }
.header-bar img {vertical-align:middle}
#ible-header .header-bar img {vertical-align:top}
.header-bar .header-title {color:#333; display:inline-block; *display:inline; *zoom:1; font-family:CompleteInHimPro,Arial,Helvetica,sans-serif; font-size:36px; font-weight:normal; margin-left:10px;}
.header-bar, .header-gradient {
  background: #f6f6f6 none repeat scroll 0 0;
}

div.project-container {position:relative; min-height:100px; width:1016px; margin:0 auto; padding:23px 0; background:#fff; border-radius:9px; -moz-border-radius:9px; -webkit-border-radius:9px; border:1px solid rgba(119,130,135,.4)}
div.project-container:after {content: "."; display:block; height:0; clear:both; visibility:hidden}
.lt-ie9 div#omni {background:#fff;
  width: 95%;
  height: 0;
  padding-bottom: 100%;
}
.project{
  padding: 0;
  margin-right: 10px;
  margin-left: -10px;
  margin-bottom: 15px;
}
.project_link:hover{
  background-color: white;
  opacity: 0.8;
  -webkit-transition-duration: 0.3s; /* Safari */
  transition-duration: 0.3s;
}
.project_link{
  opacity: 1;
  -webkit-transition-duration: 0.3s; /* Safari */
  transition-duration: 0.3s;
}
.hgpm-image-gradient{
  background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.65) 100%);
  content: "";
  display: block;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#a6000000', GradientType=0);
  left: 0;
  position: absolute;
  width: 95%;
  z-index: 2;
  bottom: 0;
  height: 40%;
  top: auto;
}
.project_description{
  bottom: 0;
  left: 0;
  padding: 10px;
  padding-right: 20px;
  position: absolute;
  z-index: 10;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  line-height: 20px;
  vertical-align: middle;
}
.container-4{
  overflow: hidden;
  width: 300px;
  vertical-align: middle;
  white-space: nowrap;
  margin: 10px auto;
}

.container-4 input#search{
  width: 300px;
  height: 50px;
  background: #2b303b;
  border: none;
  font-size: 10pt;
  float: left;
  color: #fff;
  padding-left: 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  opacity: 0.8;
}

.container-4 input#search::-webkit-input-placeholder {
 color: #65737e;
}

.container-4 input#search:-moz-placeholder { /* Firefox 18- */
 color: #65737e;
}

.container-4 input#search::-moz-placeholder {  /* Firefox 19+ */
 color: #65737e;
}

.container-4 input#search:-ms-input-placeholder {
 color: #65737e;
}

.container-4 button.icon{
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;

  border: none;
  background: #232833;
  height: 50px;
  width: 50px;
  color: #4f5b66;
  opacity: 0;
  font-size: 10pt;

  -webkit-transition: all .55s ease;
  -moz-transition: all .55s ease;
  -ms-transition: all .55s ease;
  -o-transition: all .55s ease;
  transition: all .55s ease;
}

.container-4:hover button.icon, .container-4:active button.icon, .container-4:focus button.icon{
  outline: none;
  opacity: 1;
  margin-left: -50px;
}

.container-4:hover button.icon:hover{
  background: white;
}
.carousel_title{
  z-index: 1000;
}
.category_title{
  margin-bottom: 20px;
  margin-top: 50px;
  font-size: 20px;
  font-weight: bold;
}
.category_title::after {
  position:absolute;
  content:'\00a0';
  width: 70%;
  margin-top: -12px;
  margin-left: 5px;
  margin-left: 20px;
  border-bottom: 2px solid #ddd;
  z-index: 0;

  display: inline;
  float: left;
  clear: left;
}
.category_title i{
  margin-right: 5px;
  color: #2bde73;
}
@media screen and (min-width: 768px){
  .carousel-caption {
    left: 20%;
    right: 20%;
    padding-bottom: 15%;
  }
}
footer{
  margin-top: 80px;
  background-color: #1fa67a;
  padding: 50px;
  color: #fff;
  text-align: center;
  font-size: 18px;
}
footer i{
  margin: 5px;
}
.project_show_container{
  margin-top: 100px;
}
.header-bar{
  text-align: center;
  border-bottom: 0;
  color: rgb(127, 198, 232);
  border-radius: 30px;
}
.header-title{
  color: #2bde73 !important;
  font-weight: bold;
}
.item_image{
  width: 100%;
}
.project_item_card{
  border-radius: 20px;
  border: 2px solid #ddd;
  padding: 10px 20px;
  margin-bottom: 20px;
}
.item_description{
  padding: 0;
  line-height: 30px;
  font-size: 18px;
  margin: 10px 0px;
}
.item_like{
  margin: 10px 0px;
  font-size: 18px;
  color: #2AB3F5;
  font-weight: bold;
}
.item_like i{
  margin: 5px;
}
.fa-heart-o, .fa-share{
  color: initial;
}
.fa-heart {
  color: red;
}
